doctype html
html
  head
    title=mdserve
    link(rel='stylesheet', href='/static/highlight.js/styles/github.css')
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();
      socket.on('#{fileName}', function(data) {
        document.getElementById('content').innerHTML = data; 
      }); 
    body
      div(id="content") !{content}
  
